{
    "parser": "typescript",
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "none",
    "useTabs": false,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@web/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}
