# Docker Compose build env vars template

## API CONFIGS
PORT=
DATABASE_URL=
ENABLE_DATABASE_DEBUG_LOGGING=false

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

JWT_SECRET=

CLIENT_CALLBACK_URL=

## WEB APP CONFIGS
VITE_API_URL=

## POSTGRESQL CONFIGS
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
